<ion-header>
  <ion-navbar>
    <ion-title>Scores</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addTap()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-6 text-center style="font-weight: bold">Nous</ion-col>
      <ion-col col-6 col-sm-6 text-center style="font-weight: bold">Eux</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6 col-sm-6 text-center style="border: solid 1px">{{ totalNous }}</ion-col>
        <ion-col col-6 col-sm-6 text-center style="border: solid 1px">{{ totalEux }}</ion-col>
      </ion-row>
    <ion-row *ngFor="let game of games">
      <ion-col col-6 col-sm-6 text-center>{{ game.ScoreNous }}</ion-col>
      <ion-col col-6 col-sm-6 text-center>{{ game.ScoreEux }}</ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
