<ion-header>
    <ion-navbar>
        <ion-title>Ajouter une partie</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col col col-sm>
                <ion-item>
                    <ion-label>Sans-atout / Tout-atout</ion-label>
                    <ion-select [(ngModel)]="type" (ionChange)='bothChanged()'>
                        <ion-option value="162">Classique</ion-option>
                        <ion-option value="162">Sans-atout</ion-option>
                        <ion-option value="258">Tout-atout</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6 col-sm-6 text-center>Nous</ion-col>
            <ion-col col-6 col-sm-6 text-center>Eux</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-sm-6>
                <ion-item>
                    <ion-label>Belote</ion-label>
                    <ion-select #selbelote [(ngModel)]="beloteNous" (ionChange)='nousChanged()'>
                        <ion-option value="0">Sans belote</ion-option>
                        <ion-option value="20">Avec belote</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-sm-6>
                <ion-item>
                    <ion-label>Belote</ion-label>
                    <ion-select #selbelote [(ngModel)]="beloteEux" (ionChange)='euxChanged()'>
                        <ion-option value="0">Sans belote</ion-option>
                        <ion-option value="20">Avec belote</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>Contrat</ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-6 col-sm-6>
                <ion-item>
                    <ion-label>Contrat Nous</ion-label>
                    <ion-select #selbelote [(ngModel)]="contratNous" (ionChange)='nousChanged()'>
                        <ion-option value="0">0</ion-option>
                        <ion-option value="80">80</ion-option>
                        <ion-option value="90">90</ion-option>
                        <ion-option value="100">100</ion-option>
                        <ion-option value="110">110</ion-option>
                        <ion-option value="120">120</ion-option>
                        <ion-option value="130">130</ion-option>
                        <ion-option value="140">140</ion-option>
                        <ion-option value="150">150</ion-option>
                        <ion-option value="160">160</ion-option>
                        <ion-option value="170">170</ion-option>
                        <ion-option value="180">180</ion-option>
                        <ion-option value="250">Capot ez</ion-option>
                        <ion-option value="270">Capot beloté ez pz</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-sm-6>
                <ion-item>
                    <ion-label>Contrat Nous</ion-label>
                    <ion-select #selbelote [(ngModel)]="contratEux" (ionChange)='euxChanged()'>
                        <ion-option value="0">0</ion-option>
                        <ion-option value="80">80</ion-option>
                        <ion-option value="90">90</ion-option>
                        <ion-option value="100">100</ion-option>
                        <ion-option value="110">110</ion-option>
                        <ion-option value="120">120</ion-option>
                        <ion-option value="130">130</ion-option>
                        <ion-option value="140">140</ion-option>
                        <ion-option value="150">150</ion-option>
                        <ion-option value="160">160</ion-option>
                        <ion-option value="170">170</ion-option>
                        <ion-option value="180">180</ion-option>
                        <ion-option value="250">Capot on vous baise</ion-option>
                        <ion-option value="270">Capot beloté ez pz</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>Points faits</ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-6 col-sm-6>
                <ion-input type="number" placeholder='Points Nous' [(ngModel)]='pointsNous' (keyup)='nousChanged()'></ion-input>
            </ion-col>
            <ion-col col-6 col-sm-6>
                <ion-input type="number" placeholder='Points Eux' [(ngModel)]='pointsEux' (keyup)='euxChanged()'></ion-input>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-6 col-sm-6>
                <ion-item>
                    <ion-label>Coincher</ion-label>
                    <ion-checkbox [(ngModel)]="coincher" (ionChange)='bothChanged()'></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-sm-6>
                <ion-item *ngIf='coincher'>
                    <ion-label>Surcoincher</ion-label>
                    <ion-checkbox [(ngModel)]="surcoincher" (ionChange)='bothChanged()'></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>Total</ion-col>
        </ion-row>
        <ion-row justify-content-center>
            <ion-col col-6 col-sm-6>
                <ion-label>{{ totalNous }}</ion-label>
            </ion-col>
            <ion-col col-6 col-sm-6>
                <ion-label>{{ totalEux }}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <button ion-button (tap)='addGameTap()'>Ajouter la partie</button>

</ion-content>